user_uuid = "6c6b5f5f-666f-4a75-9aea-ce959c11b213"
bucket_name ="svrpms2jshdb32xfo218xgaduk0ods29"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1